<h2>{{ title }}</h2>

<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" ngModel>
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" ngModel>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" ngModel>
  </div>

  <div>
    <label for="age">Age</label>
    <input type="text" id="age" name="age" ngModel>
  </div>

  <p>
    <button type="submit">Submit</button>
    <button type="button" (click)="resetForm(userForm)">Reset</button>
  </p>

</form>

<h3>Form Data</h3>
{{ userForm.value | json }}
